footer ul {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.9682247899159664) 0%,
    rgb(3, 64, 95) 36%,
    rgb(2, 74, 102) 100%
  );
}

.headermaninframestyle {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(
      to bottom,
      rgba(40,40, 40, 0.65) 0%,
      rgba(40,40, 40, 0.65) 100%
    ),
    url("./SRC/ba1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

footer ul li {
  list-style-type: none;
  width: 10%;
}

footer a {
  color: white;
  text-decoration: none;
}
